/* button */
.btn-warning 
{
  background-color: rgb(93, 169, 240);
  color: #fff;
}

.btn-outline-warning 
{
  background-color: transparent;
  border-color: rgb(93, 169, 240);
  color: #333;
}

.btn-outline-warning:hover 
{
  background-color: rgb(93, 169, 240);
  border-color: rgb(93, 169, 240);
  color: #fff !important;
}

.btn-main {
  border: 2px solid rgba(51, 51, 51, 0.63) !important;
  background-color: rgba(255, 255, 255, 0.212) !important;
  color: rgba(51, 51, 51, 0.815) !important;
  font-weight: 500 !important;
}

.btn-main:hover {
  border: 2px solid rgba(65, 64, 64, 0.911) !important;
  background-color: rgba(247, 247, 247, 0.315) !important;
  color: rgb(43, 43, 43) !important;
}

.btn-logreg {
  color: #8ac6ff !important;
  font-weight: 500 !important;
  font-size: 15px;
  letter-spacing: 0.035rem;
  background-color: rgb(39 39 39) !important;
}

.btn-logreg:hover {
  background-color: #46bae3 !important;
  color: #fff !important;
  transition: all 0.25s ease-in-out;
}
/* button end */

.control-overflow
{
  overflow: hidden;
}

.spad-sm
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.spad
{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Section */
.section-head
{
  box-shadow: 0px 1px 4px 0px #333;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #46bae3;
}

.section-head-2
{
  border-bottom: 2px solid rgba(51, 51, 51, 0.63); 
  border-top: 2px solid rgba(51, 51, 51, 0.63); 
  background-color: transparent; 
  color: rgb(52 58 64 / 93%); 
  font-weight: 500; 
  text-transform: uppercase; 
  font-size: 17px;
  text-align: center;
}

.section-content
{
  box-shadow: 0px 0px 10px 0px rgba(99, 99, 99, 0.753);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: rgba(61, 61, 61, 0.897);
  /* color: #28a745; */
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 15px;
  cursor: pointer;
}

.section-content:hover
{
  box-shadow: 0px 0px 3px 0px #333;
  /* background-color: #28a745; */
  text-decoration: underline;
  /* color: rgb(93, 169, 240); */
  /* transition: 0.2s ease-in-out; */
}

.section-content-2
{
  box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.685);
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
  color: rgba(61, 61, 61, 0.897);
  font-weight: 500;
}

.section-content-2:hover{
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.767);
  transition: 0.3s ease-in-out;
}
/* Section end */

@media screen and (max-width: 1023px) {
  .banner
  {
    display: none;
  }

  .banner-mob
  {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .banner
  {
    background-image: url("../images/TopBanner.jpg");
    min-height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    z-index: 1;
  }

  .banner-mob
  {
    display: none;
  }

  .category {
    position: absolute;
    left: 0;
    top: 5.5rem;
    z-index: 1;
    max-width: 33.3333%;
  }

  /* .category:hover {
    transition: 0.2s ease-in-out;
  } */

  .category-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(358deg, #0000007c, #00000027);
    color: #fff;
  }

  .category-overlay:hover {
    /* transition: 0.2s ease-in-out; */
    background-image: none;
  }

  .category-overlay span {
    font-size: 16px;
  }

  .category-overlay:hover span {
    display: none;
    /* transition: 0.2s ease-in-out; */
  }
}


/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs{
background: #fff;
  color: #333;
}
#tabs h6.section-title{
  color: #333;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 16px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: rgba(51, 51, 51, 0.767);
  font-size: 16px;
}

.my-course-tab .nav-link
{
  color: #333;
  font-weight: 500;
}

.my-course-tab .nav-link.active
{
  color: rgb(93, 169, 240);
  background-color: #f3b7115b;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: rgb(20, 20, 20);
}

.tutors hr{
  background-color: #d69288;
  border: transparent;
  width: 80px;
  min-height: 3px;
  margin: 0 auto;
}

.tutor-name {
  text-align: center;
  font-size: 17px;
}

.tutor-quote {
  font-style: italic;
  color: rgb(105 105 117);
  margin-bottom: 0;
  padding-top: 25px;
  font-size: 15px;
  height: 8.5rem;
}


/* Flip effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #bbb; */
  background-image: url('../images/Categories/why1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient( #d69288b9, #46b9e3c4); */
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-transform: uppercase;
}

.flip-card-back {
  background-color: #2980b9;
  /* background-image: linear-gradient(#46b9e3, #d69288); */
  color: white;
  transform: rotateY(180deg);
  padding: 0 30px;
}

/* end */

.section-study {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #d69288;
  padding-bottom: 20px;
  margin-bottom: 25px;
}


/* Top study */

.card-img {
  overflow: hidden;
  cursor: pointer;
}

.card-img img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: all 0.3s ease-in-out;
}

.card-c {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* Become Tutor */
.tutor-container
{
  height: 125vh;
  width: 100%;
  overflow: hidden;
}

.tutor-bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 125vh;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 125vh;
  background-image: linear-gradient(358deg, #0000007c, #00000027);
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  box-shadow: 0px 0px 10px 0px rgba(56, 56, 56, 0.87);
  font-size: 13px;
  font-weight: 500;
  color: rgba(61, 61, 61, 0.897);
  /* text-transform: uppercase; */
  border-radius: 5px;
  padding: 25px 35px;
  /* cursor: pointer; */
  text-decoration: none;
  width: 50%;
}

/* tool tip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  opacity: 1 !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form-control {
  font-style: italic;
}